.bubble.mine {
  background-color: #dcf8c6; /* Verde clarito estilo WhatsApp */
  align-self: flex-end;
  border-radius: 10px 0 10px 10px;
}

.bubble.theirs {
  background-color: white;
  align-self: flex-start;
  border-radius: 0 10px 10px 10px;
}

.bubble {
  max-width: 65%;
  padding: 6px 10px;
  font-size: 14.2px;
  border-radius: 7.5px;
  box-shadow: 0 1px 0.5px rgba(0,0,0,0.13);
  position: relative;
  line-height: 19px;
  color: #111b21; 
}

.bubble.mine {
  align-self: flex-end;
  background-color: #dcf8c6; 
}

.bubble.theirs {
  align-self: flex-start;
  background-color: #ffffff;
}


.chat-input-form {
  padding: 5px 10px;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  gap: 10px;
}

.chat-input-form input {
  flex: 1;
  background-color: #ffffff;
  border: none;
  padding: 9px 12px;
  border-radius: 8px;
  font-size: 15px;
  outline: none;
}

.send-btn {
  background: none;
  border: none;
  color: #54656f;
  font-size: 24px;
  cursor: pointer;
}