
.app-container {
  max-width: 1600px; 
  margin: 0 auto;   
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f0f2f5; 
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}


@media (max-width: 768px) {
  .app-container {
    max-width: 100%;
    height: 100%;
    box-shadow: none;
  }
  
  .chat-card {
    padding: 15px 10px; 
  }
}